nav ul li a:hover {color: #03a9f4; text-decoration: none}
  ul {list-style: none; } 
  ul {text-align: center; 
    font-size: 16px;
    font-family: "Myriad Pro";
    line-height: 1.714;
    ;
     text-transform: uppercase; 
     margin: 0 ;
    padding: 0 ;
  }
  li {display: inline-block; margin-right: 60px;
  /*font-size: 0 */;} 
  li a{
    font-size: 12px;
  }
  nav li:last-child {margin-right: 0;}  
body {margin: 0}
body.conteiner {width: 960; margin: 0 auto;
 }
main {
    color: rgb(98, 98, 98);
    font-family: "Myriad Pro"; }

  article{
      display: inline-block;
       width: 420px;
      margin-right: 60px;
       box-sizing: border-box;
   }
  article:nth-child(2n){margin-right: 0;}

 section{
    margin: 0 auto;

    text-align: left;
    }

.p {
    font-size: 14px;

    text-transform: uppercase;
  }
.h3 {
    font-size: 30px;

}  
div {text-align: center;}
div button:hover {color: rgb(148, 19, 19);} 
